*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Caveat", cursive , sans-serif;
}

html{
    box-sizing: border-box;
}

body{
  line-height: 1.7;
  letter-spacing: 0.3px;
}

/* header */
header{
    width: 100%;
    padding: 0.8rem 2rem;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid black;
    background-color: #344C64;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navList{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: #fff;
}

/* setting */
ul{
    display: flex;
    gap: 1rem;
}

li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

/* setting font */
h1{
    font-size: 2rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 1.5rem;
}

p, strong{
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-bottom: 1rem;
}

/* setting body */

html{
    background-color: #F6F5F5;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 8rem 8rem 0;
}

article, aside{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* home */
.home{
    padding: 9rem 0 9rem;
    gap: 5rem;
    margin-top: 2rem;
}

.background-image{
    background-image: url(../img/icons.jpg);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    height: 90vh;
    margin-top: -28.3rem;
    background-size: cover;
}

.home h2{
    font-size: 3rem;
}

/* about */
.about{
    padding-bottom: 10rem;
    gap: 4rem;
}

.about .content{
    gap: 2rem;
}

.about aside img{
    width: 100%;
    max-width: 300px;
}

.about article{
    width: 50%;
    text-align: left;
    justify-content: right;
}

/* project */
.project{
    padding-bottom: 10rem;
    gap: 2rem;
}

.project .content{
    gap: 1.5rem;
}

.project img{
    width: 100%;
    max-width: 400px;
}

.project-container{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-in-out;
}

.project-container:hover{
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.4);
    max-width: 400.01px;
}

.project-container.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Certificate */
.certificate{
    padding-bottom: 10rem;
    gap: 1rem;
}

.certificate .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.certificate-container img {
    width: 100%;
    border-radius: 10px;
}

.certificate-container {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-in-out;
}

.certificate-container:hover{
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.4);
    max-width: 400.01px;
}

.certificate-container.visible {
    opacity: 1;
    transform: translateY(0);
}

/* skills */
.skills{
    padding-bottom: 10rem;
    gap: 2rem;
}

.skills .content{
    gap: 2rem;
}

.skills article{
    justify-content: left;
    align-items: none;
    text-align: left;
    width: 60%;
}

.skills aside img{
    width: 100%;
    max-width: 300px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

.skills .article2{
    display: flex;
    flex-direction: row;
}

.skills aside p{
    text-align: left;
}

/* contact */
.contact{
    gap: 1rem;
    padding-top: 7rem;
    padding-bottom: 1rem;
}

.contact .content{
    flex-direction: column;
    gap: 2rem;
}

.contact aside{
    gap: 1rem;
}

.myContact{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact form{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background-color: #ccc;
    border: 2px solid black;
    padding: 1rem 2rem;
    width: 20rem;
    border-radius: 1.5rem 3rem;
    gap: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

form input, form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: sans-serif, Verdana, Tahoma;
}


form button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 1.4rem;
}

form button:hover {
    background-color: #344C64;
}

.contact ul{
    gap: 3rem;
    justify-content: center;
}

.contact li{
    align-items: center;    
}

.contact li a{
    font-size: 2rem;
}

.contact article{
    gap: 1rem;
}

/* footer */
footer{
    border-top: 1px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #344C64;
    padding: 1rem 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

footer .content{
    width: 50%;
    flex-direction: column;
    gap: 3rem;
}

footer .content h4{
    font-size: 1.2rem;
}

footer section{
    display: flex;
    gap: 0.3rem;
    padding: 0rem;
}

footer section p{
    font-size: 1rem;
}

footer aside{
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

footer ul{
    display: flex;
    justify-content: right;
    gap: 2rem;
}

footer h4 i{
    font-size: 1.2rem;
    color: red;
    margin-left: 0.5rem;
}

footer li i{
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.4rem 0.6rem;
    
}

footer a{
    background-color: #f1a204;
    padding: 0.5rem 0;
    border-radius: 10px;
}

#instagram{
    color: #fff;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

#instagram:hover{
    background:  linear-gradient(45deg, #ff8401 0%, #ff4400 25%, #ff0228 50%, #ff0267 75%, #f300a6 100%);
}

#facebook, #telegram, #linkedin{
    color: blue;
    background-color: #F6F5F5;
}

#facebook:hover, #telegram:hover, #linkedin:hover{
    background-color: #fff;
}

#email{
    color: #b10000;
    background-color: #F6F5F5;
}

#email:hover{
    background-color: #Fff;
}

#tiktok, #twitter, #gitHub{
    color: #fff;
    background-color: rgb(28, 27, 27);
}

#tiktok:hover, #twitter:hover, #gitHub:hover{
    background-color: black;
}

#whatsapp, #phone{
    color: white;
    background-color: green;
} 

#whatsapp:hover, #phone:hover{
    background-color: rgb(72, 232, 72);
}

/* Media */
@media screen and (max-width: 768px) {
    aside img{
        width: 100%;
        max-width: 300px;
    }

    .hidden{
        display: none;
    }

    #menu-list{
        position:absolute;
        width: 100%;
        left: 0;
        margin-top: 19.5rem;
        padding-bottom: 1rem;
        align-items: center;
        flex-direction: column;
        background-color: #F0EBE3;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    }

    nav .navList{
        display: block;
        justify-content: end;
    }

    nav .navList:hover{
        color: #fff;
    }    

    nav li a{
        font-size: 1.2rem;
    }

    .nav-link:hover{
        color: #b10000;
    }

    #menu-list{
        transition: all 0.7s;
    }

    /* home */

    .about article{
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .about article p{
        font-size: 1rem;
    }

    /* skills */
    .skills article{
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .skills article p{
        font-size: 1rem;
    }

    /* contact */
    .contact article{
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .contact article p{
        font-size: 1rem;
    }

    .contact form{
        width: 18rem;
        padding: 0.8rem 1rem;
        gap: 0.3rem;
    }

    form input, form textarea{
        font-size: 0.8rem;
    }

    form button{
        font-size: 1rem;
    }

    /* footer */
    footer{
        padding: 0.2rem 2rem;
        gap: 5rem;
    }

    footer section p{
        font-size: 0.8rem;
    }

    footer aside{
        gap: 1.5rem;
    }

    footer ul{
        gap: 0.5rem;
    }
}

@media screen and (max-width: 480px){

    section{
        padding: 1rem 3rem;
    }

    .background-image{
        height: 60vh;
    }

    nav ul{
        padding-top: 1rem;
        margin-top: 20.4rem;
    }

    .home{
        padding-bottom: 1rem;
    }

    .about{
        padding-top: 5rem;
        gap: 1rem;
    }

    .about article{
        width: 100%;
    }

    .about article p{
        font-size: 1rem;
    }

    .project{
        padding-top: 5rem;
    }

    .certificate{
        padding-top: 5rem;
    }

    .skills{
        padding-top: 5rem;
    }

    .contact{
        padding-top: 5rem;
    }

    .contact form{
        width: 15rem;
    }

    footer{
        flex-wrap: wrap;
        padding: 1rem 0;
    }

    footer .content{
        width: 100%;
        gap: 1rem;
        margin-bottom: 0;
    }

    footer aside{
        margin-top: 0;
        width: 100%;
        padding-bottom: 1rem;
    }

}
